{% extends "base.html" %} {% block title %} Rooms & Suites | 09Hotel {% endblock %} 
{% block content %}
{% load static %}

<div class="w-full h-[60vh] md:h-[50vh] flex justify-center items-center bg-back-img-main bg-center bg-cover">

  <div class="p-2 md:p-5 h-1/2 flex flex-col justify-center bg-seafoam bg-opacity-30 w-fit shadow-2xl rounded-xl items-center">
    <h2 class=" text-oxblood mt-2 text-xl md:text-3xl tracking-tight font-thin">Our Rooms, Huts, PentHouse</h2>
    <a href="{% url 'book_room' %}" class="btn bg-oxblood hover:bg-seafoam hover:text-oxblood border-seafoam hover:border-oxblood text-seafoam mt-2 md:mt-5">Book Room</a> 
    <h2 class=" text-oxblood text-xs md:text-xl tracking-tight font-thin mt-2 mb-2 md:mt-5">Check Out Our Room Types Below.</h2>
</div>

</div>
<div class="w-full h-fit flex flex-col items-center bg-egypt">

{% for roomtype in roomtypes %}

<div class="w-[90%] h-fit ">
  <div class="w-full h-[10%] mt-2 mb-2 flex justify-center items-center"><h1 class=" underline underline-offset-4 decoration-1 tracking-tight font-thin text-xl text-oxblood md:text-3xl">{{roomtype.name}}</h1></div>
  <div class="w-full h-[90%] ">


    <!-- Grid wrapper -->
<div
class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-6">
<!-- Columns -->
{% for r in roomtype.roomtype_rooms.all %}

{% if forloop.counter <= 2 %}
        
<div class=""><img class="h-auto max-w-full rounded-lg" src="/{{r.image1_main}}" alt=""></div>
<div class=""><img class="h-auto max-w-full rounded-lg" src="/{{r.image2}}" alt=""></div>
<div class=""><img class="h-auto max-w-full rounded-lg" src="/{{r.image3}}" alt=""></div>
<div class=""><img class="h-auto max-w-full rounded-lg" src="/{{r.image360}}" alt=""></div>
{% endif %}
{% endfor %}
<!-- Columns -->
</div>
<!-- Grid wrapper -->

  </div>
</div>

{% endfor %}

</div>

{% endblock %}