{% extends "base.html" %} {% block title %} Rooms & Suites | 09Hotel {% endblock %} 
{% block content %}
{% load static %}

<div class="w-full h-[60vh] md:h-[50vh] flex justify-center items-center bg-back-img-main bg-center bg-cover">
<a href="{% url 'book_room' %}" class="btn">Book Room</a>
  <div class="p-2 h-1/2 flex flex-col justify-center bg-gray-700 bg-opacity-30 w-fit shadow-2xl rounded-xl items-center">
    <h2 class=" text-gray-900 text-xl md:text-3xl tracking-tight font-thin">Our Rooms, Huts, PentHouse</h2>
</div>

</div>

{% endblock %}